<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s1000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,117}</string>
                <key>spriteSourceSize</key>
                <string>{124,117}</string>
                <key>textureRect</key>
                <string>{{1,321},{124,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,105}</string>
                <key>spriteSourceSize</key>
                <string>{125,105}</string>
                <key>textureRect</key>
                <string>{{1,1},{125,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,105}</string>
                <key>spriteSourceSize</key>
                <string>{125,105}</string>
                <key>textureRect</key>
                <string>{{1,108},{125,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s999.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,104}</string>
                <key>spriteSourceSize</key>
                <string>{125,104}</string>
                <key>textureRect</key>
                <string>{{1,215},{125,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rich_text.png</string>
            <key>size</key>
            <string>{127,439}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c89d2adf0d330f32888117a26a583b3c:3ccc19117473abb81db8707e211ca9a9:5fa38942841b5af2a5d3638624740417$</string>
            <key>textureFileName</key>
            <string>rich_text.png</string>
        </dict>
    </dict>
</plist>
