<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,151}</string>
                <key>spriteSourceSize</key>
                <string>{149,151}</string>
                <key>textureRect</key>
                <string>{{0,0},{149,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rich_text_img1.png</string>
            <key>size</key>
            <string>{149,151}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef258b2fdf35aea4325d57d9072f5b80:e0fcfeab1fcd9a1bca32b4c612b0c85a:b579d85d3360cdc4231407ecd6598bfc$</string>
            <key>textureFileName</key>
            <string>rich_text_img1.png</string>
        </dict>
    </dict>
</plist>
